In [229]:
import numpy as np
import pandas as pd

In [231]:
df=pd.read_csv(r"C:\Users\manas\Downloads\zomato_data.csv")

In [233]:
df.shape

(51717, 10)

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       43942 non-null  object
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51371 non-null  object
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [237]:
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [239]:
df.isnull().sum()

online_order                     0
book_table                       0
rate                          7775
votes                            0
rest_type                      227
dish_liked                   28078
cuisines                        45
approx_costfor_two_people      346
listed_intype                    0
listed_incity                    0
dtype: int64

In [241]:
# DATA CLEANING & PREPROCESSING
# STEP-1 RATING COLUMMN (RATE)
df["rate"]=df["rate"].fillna("-")
df["rate"]

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713         -
51714         -
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 51717, dtype: object

In [243]:
# REmove /5 and retain only numeric value
df["rate"]=df["rate"].str.rstrip("/5")
df["rate"]

0         4.1
1         4.1
2         3.8
3         3.7
4         3.8
         ...
51712    3.6
51713       -
51714       -
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: object

In [245]:
# convert to float using pd.to_numeric()
df["rate"]=pd.to_numeric(df["rate"],errors="coerce")
df["rate"]

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

In [247]:
df.describe()

               rate         votes
count  41665.000000  51717.000000
mean       3.679772    283.697527
std        0.455416    803.838853
min        1.800000      0.000000
25%        3.300000      7.000000
50%        3.700000     41.000000
75%        4.000000    198.000000
max        4.900000  16832.000000

In [249]:
# fill missing values using the median rating
df["rate"]=df["rate"].fillna(df["rate"].median())
df["rate"]

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    3.7
51714    3.7
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

In [251]:
# STEP 2 - COST COLUMN 
# REMOVE COMMAS FROM NUMERIC STRINGS
df["approx_costfor_two_people"]=df["approx_costfor_two_people"].str.replace(",","")
df["approx_costfor_two_people"]

0         800
1         800
2         800
3         300
4         600
         ...
51712    1500
51713     600
51714    2000
51715    2500
51716    1500
Name: approx_costfor_two_people, Length: 51717, dtype: object

In [253]:
# CONVERT TO NUMERIC
df["approx_costfor_two_people"]=pd.to_numeric(df["approx_costfor_two_people"])
df["approx_costfor_two_people"]

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: approx_costfor_two_people, Length: 51717, dtype: float64

In [255]:
# FILL MISSING VALUES WITH MEDIAN COST
df["approx_costfor_two_people"]=df['approx_costfor_two_people'].fillna(df["approx_costfor_two_people"].median())
df["approx_costfor_two_people"]

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: approx_costfor_two_people, Length: 51717, dtype: float64

In [257]:
# STEP -3 CATEGORICAL COLUMNS
# dish_liked → Replace NaN with "Not Available"
df["dish_liked"]=df["dish_liked"].fillna("Not Available")
df["dish_liked"]

0        Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1        Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2        Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                              Masala Dosa
4                                      Panipuri, Gol Gappe
                               ...
51712                                        Not Available
51713                                        Not Available
51714                                        Not Available
51715                         Cocktails, Pizza, Buttermilk
51716                                        Not Available
Name: dish_liked, Length: 51717, dtype: object

In [263]:
# cuisines → Replace NaN with "Other"
df['cuisines']=df["cuisines"].fillna("Other")
df["cuisines"]

0                North Indian, Mughlai, Chinese
1                   Chinese, North Indian, Thai
2                        Cafe, Mexican, Italian
3                    South Indian, North Indian
4                      North Indian, Rajasthani
                          ...
51712                               Continental
51713                               Finger Food
51714                               Finger Food
51715                               Finger Food
51716    Finger Food, North Indian, Continental
Name: cuisines, Length: 51717, dtype: object

In [265]:
# rest_type → Replace NaN with "Unknown"
df['rest_type']=df["rest_type"].fillna("Unknown")
df["rest_type"]

0              Casual Dining
1              Casual Dining
2        Cafe, Casual Dining
3                Quick Bites
4              Casual Dining
                ...
51712                    Bar
51713                    Bar
51714                    Bar
51715                    Bar
51716     Bar, Casual Dining
Name: rest_type, Length: 51717, dtype: object

In [267]:
df["rest_type"].isnull().sum()

0

In [269]:
# STEP 4- VOTES COLUMN
# Fill missing values in votes with median
df["votes"]=df["votes"].fillna(df["votes"].median())
df["votes"]

0        775
1        787
2        918
3         88
4        166
        ...
51712     27
51713      0
51714      0
51715    236
51716     13
Name: votes, Length: 51717, dtype: int64

In [271]:
df['votes'].isnull().sum()

0

In [273]:
# Step 5: Binary Encoding
# Convert the following binary fields:
df["online_order"]=df["online_order"].map({"Yes":1,"No":0})
df["online_order"]

0        1
1        1
2        1
3        0
4        0
        ..
51712    0
51713    0
51714    0
51715    0
51716    0
Name: online_order, Length: 51717, dtype: int64

In [275]:
df["book_table"]=df["book_table"].map({"Yes":1,"No":0})
df["book_table"]

0        1
1        0
2        0
3        0
4        0
        ..
51712    0
51713    0
51714    0
51715    1
51716    0
Name: book_table, Length: 51717, dtype: int64

In [277]:
# Step 6: Data Type Conversion
# Ensure the following conversions:
# rate → float , votes → integer , approx_costfor_two_people → integer
print(df["rate"].dtype)
print(df["votes"].dtype)
print(df["approx_costfor_two_people"].astype("int").dtype)

float64
int64
int32

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  float64
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 3.9+ MB

In [49]:
df.isnull().sum()

online_order                 0
book_table                   0
rate                         0
votes                        0
rest_type                    0
dish_liked                   0
cuisines                     0
approx_costfor_two_people    0
listed_intype                0
listed_incity                0
dtype: int64

In [71]:
df.describe()

,online_order,book_table,rate,votes,approx_costfor_two_people
count,51717.000000,51717.000000,51717.000000,51717.000000,51717.000000
mean,0.588665,0.124698,3.683704,283.697527,554.391689
std,0.492080,0.330379,0.408846,803.838853,437.563723
min,0.000000,0.000000,1.800000,0.000000,40.000000
25%,0.000000,0.000000,3.400000,7.000000,300.000000
50%,1.000000,0.000000,3.700000,41.000000,400.000000
75%,1.000000,0.000000,3.900000,198.000000,650.000000
max,1.000000,1.000000,4.900000,16832.000000,6000.000000

In [279]:
df2=pd.read_csv(r"C:\Users\manas\Downloads\Geographical Coordinates.csv")

In [281]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listed_incity  26 non-null     object
 1   Latitude       26 non-null     float64
 2   Longitude      26 non-null     float64
dtypes: float64(2), object(1)
memory usage: 756.0+ bytes

In [77]:
df2.head()

       listed_incity   Latitude  Longitude
0       Banashankari  12.939333  77.553982
1  Bannerghatta Road  12.952660  77.605048
2       Basavanagudi  12.941726  77.575502
3          Bellandur  12.925352  77.675941
4       Brigade Road  12.967358  77.606435

In [79]:
df2.isnull().sum()

listed_incity    0
Latitude         0
Longitude        0
dtype: int64

In [233]:
df2.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
dtype: bool

In [283]:
# DATASET GEOGRAPHICAL COORDINATES IS CLEAN WITH NO NULL VALUES,DUPLICATES
# MERGING THE TWO DATASETS USING LEFT JOIN MERGE 
merged_df = pd.merge(df, df2, on='listed_incity', how='left')
merged_df

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,12.939333,77.553982
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari,12.939333,77.553982
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari,12.939333,77.553982
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,1500.0,Pubs and bars,Whitefield,NaN,NaN
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600.0,Pubs and bars,Whitefield,NaN,NaN
51714,0,0,3.7,0,Bar,Not Available,Finger Food,2000.0,Pubs and bars,Whitefield,NaN,NaN
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500.0,Pubs and bars,Whitefield,NaN,NaN
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",1500.0,Pubs and bars,Whitefield,NaN,NaN

In [57]:
pip install folium

Requirement already satisfied: folium in c:\users\manas\anaconda3\lib\site-packages (0.19.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\manas\anaconda3\lib\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\manas\anaconda3\lib\site-packages (from folium) (3.1.4)
Requirement already satisfied: numpy in c:\users\manas\anaconda3\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\manas\anaconda3\lib\site-packages (from folium) (2.32.2)
Requirement already satisfied: xyzservices in c:\users\manas\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\manas\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\manas\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manas\anaconda3\lib\site-packages (from requests->folium) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\manas\anaconda3\lib\site-packages (from requests->folium) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manas\anaconda3\lib\site-packages (from requests->folium) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [58]:
pip install IPython

Requirement already satisfied: IPython in c:\users\manas\anaconda3\lib\site-packages (8.25.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: decorator in c:\users\manas\anaconda3\lib\site-packages (from IPython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\manas\anaconda3\lib\site-packages (from IPython) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\manas\anaconda3\lib\site-packages (from IPython) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\manas\anaconda3\lib\site-packages (from IPython) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\manas\anaconda3\lib\site-packages (from IPython) (2.15.1)
Requirement already satisfied: stack-data in c:\users\manas\anaconda3\lib\site-packages (from IPython) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\manas\anaconda3\lib\site-packages (from IPython) (5.14.3)
Requirement already satisfied: colorama in c:\users\manas\anaconda3\lib\site-packages (from IPython) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\manas\anaconda3\lib\site-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\manas\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->IPython) (0.2.5)
Requirement already satisfied: executing in c:\users\manas\anaconda3\lib\site-packages (from stack-data->IPython) (0.8.3)
Requirement already satisfied: asttokens in c:\users\manas\anaconda3\lib\site-packages (from stack-data->IPython) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\manas\anaconda3\lib\site-packages (from stack-data->IPython) (0.2.2)
Requirement already satisfied: six in c:\users\manas\anaconda3\lib\site-packages (from asttokens->stack-data->IPython) (1.16.0)

In [285]:
import pandas as pd
from folium.plugins import MarkerCluster
import folium 
from IPython.display import IFrame

In [287]:
Italian_df=merged_df[df["cuisines"]=="Italian"]
Italian_df

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
182,1,0,4.1,305,Casual Dining,"Pizza, Pasta, Spinach Salsa, Garlic Bread, Las...",Italian,700.0,Delivery,Banashankari,12.939333,77.553982
1244,1,0,3.7,0,Quick Bites,Not Available,Italian,350.0,Delivery,Bannerghatta Road,12.952660,77.605048
2097,1,0,3.0,19,Food Court,Not Available,Italian,500.0,Dine-out,Bannerghatta Road,12.952660,77.605048
6103,0,1,4.5,340,Casual Dining,"Pizza, Ravioli, Tiramisu, Panna Cotta, Brusche...",Italian,1500.0,Dine-out,Brigade Road,12.967358,77.606435
6104,0,1,4.5,583,Fine Dining,"Pizza, Tiramisu, Pasta, Risotto, Lobster, Pann...",Italian,4000.0,Dine-out,Brigade Road,12.967358,77.606435
6338,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,Brigade Road,12.967358,77.606435
7588,1,0,3.7,0,Quick Bites,Not Available,Italian,300.0,Delivery,Brookefield,12.963814,77.722437
9681,0,0,3.7,0,"Takeaway, Delivery",Not Available,Italian,500.0,Delivery,BTM,12.916360,77.604733
9684,0,0,3.0,14,Delivery,Not Available,Italian,500.0,Delivery,BTM,12.916360,77.604733
9745,1,0,3.7,0,Quick Bites,Not Available,Italian,350.0,Delivery,BTM,12.916360,77.604733
10884,0,1,4.7,4845,Casual Dining,"Pasta, Tiramisu, Wine, Barbeque Chicken Pizza,...",Italian,1500.0,Dine-out,BTM,12.916360,77.604733
12618,0,1,4.4,561,Fine Dining,"Pizza, Tiramisu, Pasta, Risotto, Lobster, Pann...",Italian,4000.0,Dine-out,Church Street,12.974914,77.605247
12634,0,1,4.4,280,Casual Dining,"Pizza, Seafood Pasta, Panna Cotta, Ravioli, La...",Italian,1500.0,Dine-out,Church Street,12.974914,77.605247
12859,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,Church Street,12.974914,77.605247
14122,0,1,4.0,63,Fine Dining,"Pasta, Pizza, Tiramisu, Minestrone Soup, Mushr...",Italian,2500.0,Dine-out,Electronic City,12.848760,77.648253
18661,0,1,4.7,4398,Casual Dining,"Pasta, Pizza, Salads, Tiramisu, Wine, Bruschet...",Italian,1500.0,Dine-out,Indiranagar,12.996298,77.545278
18677,0,1,4.0,717,Casual Dining,"Tiramisu, Pasta, Pizza, Lasagne, Bruschettas, ...",Italian,1000.0,Dine-out,Indiranagar,12.996298,77.545278
19259,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,Indiranagar,12.996298,77.545278
20587,1,0,3.7,0,Quick Bites,Not Available,Italian,350.0,Delivery,Jayanagar,12.939904,77.582638
21291,0,1,4.5,800,Casual Dining,"Pasta, Pizza, Mushroom Soup, Tiramisu, Sangria...",Italian,1500.0,Dine-out,Jayanagar,12.939904,77.582638
22054,1,0,4.1,306,Casual Dining,"Pizza, Pasta, Spinach Salsa, Garlic Bread, Las...",Italian,700.0,Delivery,JP Nagar,12.909694,77.586607
22634,0,0,3.7,0,Casual Dining,Not Available,Italian,400.0,Delivery,JP Nagar,12.909694,77.586607
22791,1,0,3.7,0,Quick Bites,Not Available,Italian,350.0,Delivery,JP Nagar,12.909694,77.586607
23288,0,0,3.7,0,Casual Dining,Not Available,Italian,400.0,Dine-out,JP Nagar,12.909694,77.586607
23458,0,1,4.0,787,Casual Dining,"Pasta, Pizza, Mushroom Soup, Tiramisu, Sangria...",Italian,1500.0,Dine-out,JP Nagar,12.909694,77.586607
24291,1,0,4.1,198,Casual Dining,"Pasta, Tiramisu, Tomato Soup, Carbonara, Chick...",Italian,600.0,Delivery,Kalyan Nagar,13.022142,77.640337
24701,1,0,4.1,198,Casual Dining,"Pasta, Tiramisu, Tomato Soup, Carbonara, Chick...",Italian,600.0,Dine-out,Kalyan Nagar,13.022142,77.640337
25588,1,0,4.1,198,Casual Dining,"Pasta, Tiramisu, Tomato Soup, Carbonara, Chick...",Italian,600.0,Delivery,Kammanahalli,13.014854,77.638203
26153,1,0,4.1,203,Casual Dining,"Pizza, Pasta, Tiramisu, Cheesecake, Tomato Sou...",Italian,600.0,Dine-out,Kammanahalli,13.014854,77.638203
27536,0,0,3.6,16,Delivery,Not Available,Italian,500.0,Delivery,Koramangala 4th Block,12.932778,77.629405
28405,0,1,4.7,4857,Casual Dining,"Pasta, Tiramisu, Wine, Barbeque Chicken Pizza,...",Italian,1500.0,Dine-out,Koramangala 4th Block,12.932778,77.629405
30347,1,0,3.5,14,Quick Bites,Not Available,Italian,350.0,Delivery,Koramangala 5th Block,12.934843,77.618977
30402,0,0,3.6,16,Delivery,Not Available,Italian,500.0,Delivery,Koramangala 5th Block,12.934843,77.618977
31070,0,1,4.7,4860,Casual Dining,"Pasta, Tiramisu, Wine, Barbeque Chicken Pizza,...",Italian,1500.0,Dine-out,Koramangala 5th Block,12.934843,77.618977
33464,0,0,3.7,16,Delivery,Not Available,Italian,500.0,Delivery,Koramangala 6th Block,12.939025,77.623848
33935,0,1,4.7,4870,Casual Dining,"Pasta, Tiramisu, Wine, Barbeque Chicken Pizza,...",Italian,1500.0,Dine-out,Koramangala 6th Block,12.939025,77.623848
35247,1,0,3.5,14,Quick Bites,Not Available,Italian,350.0,Delivery,Koramangala 7th Block,12.936485,77.613478
36196,0,0,3.6,16,Delivery,Not Available,Italian,500.0,Delivery,Koramangala 7th Block,12.936485,77.613478
36687,0,1,4.7,4872,Casual Dining,"Pasta, Tiramisu, Wine, Barbeque Chicken Pizza,...",Italian,1500.0,Dine-out,Koramangala 7th Block,12.936485,77.613478
38663,0,1,4.5,302,Casual Dining,"Pizza, Seafood Pasta, Panna Cotta, Tiramisu, L...",Italian,1500.0,Dine-out,Lavelle Road,12.968340,77.596507
38918,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,Lavelle Road,12.968340,77.596507
39154,0,1,4.2,233,Fine Dining,"Tiramisu, Ravioli, Mezze Platter, Pasta, Mockt...",Italian,3000.0,Dine-out,Lavelle Road,12.968340,77.596507
39488,1,0,3.4,9,Quick Bites,Not Available,Italian,300.0,Delivery,Malleshwaram,13.002735,77.570325
41351,1,0,3.7,0,Quick Bites,Not Available,Italian,300.0,Delivery,Marathahalli,12.955257,77.698416
43187,0,1,4.5,308,Casual Dining,"Pizza, Seafood Pasta, Panna Cotta, Tiramisu, L...",Italian,1500.0,Dine-out,MG Road,12.975526,77.606790
43219,0,0,3.8,84,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,MG Road,12.975526,77.606790
43220,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,MG Road,12.975526,77.606790
43298,0,1,4.4,571,Fine Dining,"Pizza, Tiramisu, Pasta, Lobster, Risotto, Pann...",Italian,4000.0,Dine-out,MG Road,12.975526,77.606790
44363,0,0,3.7,0,Quick Bites,Not Available,Italian,300.0,Delivery,New BEL Road,13.039186,77.564284
44691,0,0,3.7,0,Quick Bites,Not Available,Italian,300.0,Dine-out,New BEL Road,13.039186,77.564284
45809,0,1,4.6,4453,Casual Dining,"Pasta, Pizza, Salads, Tiramisu, Wine, Sangria,...",Italian,1500.0,Dine-out,Old Airport Road,12.960632,77.642500
45826,0,1,4.5,769,Casual Dining,"Tiramisu, Pasta, Pizza, Lasagne, Sea Food, Rav...",Italian,1000.0,Dine-out,Old Airport Road,12.960632,77.642500
46201,1,0,3.4,10,Quick Bites,Not Available,Italian,300.0,Delivery,Rajajinagar,NaN,NaN
46808,1,0,3.4,11,Quick Bites,Not Available,Italian,300.0,Dine-out,Rajajinagar,NaN,NaN
48216,0,1,4.4,314,Casual Dining,"Pizza, Seafood Pasta, Panna Cotta, Tiramisu, L...",Italian,1500.0,Dine-out,Residency Road,NaN,NaN
48217,0,1,4.4,578,Fine Dining,"Pizza, Tiramisu, Pasta, Lobster, Risotto, Pann...",Italian,4000.0,Dine-out,Residency Road,NaN,NaN
48419,0,0,3.7,82,Fine Dining,"Pasta, Pizza, Wine, Tiramisu, Spaghetti, Salad...",Italian,2500.0,Dine-out,Residency Road,NaN,NaN
50849,1,0,3.7,0,Quick Bites,Not Available,Italian,300.0,Delivery,Whitefield,NaN,NaN
51128,0,1,4.0,89,Fine Dining,"Pasta, Tiramisu, Cheesy Pizza",Italian,2500.0,Dine-out,Whitefield,NaN,NaN
51606,0,1,4.6,848,Casual Dining,"Pizza, Pasta, Salads, Potato Mash, Bruschettas...",Italian,1500.0,Dine-out,Whitefield,NaN,NaN

In [289]:
 # Remove rows with missing values
Italian_df = Italian_df.dropna(subset=["Latitude", "Longitude", "listed_incity", "cuisines"])

In [291]:
map1=folium.Map(location=[12.9716,77.5946],zoom_start=12)
for i ,row in Italian_df.iterrows():
    folium.Marker(
        location=[row["Latitude"],row["Longitude"]],
        popup=f"{row["listed_incity"]}<br>Cuisine:{row["cuisines"]}",
        icon=folium.Icon(color="purple")
    ).add_to(map1)

map1.save("Italian_spots_map.html")

In [71]:
from IPython.display import IFrame

In [73]:
IFrame("Italian_spots_map.html",width=1000,height=800)

In [293]:
map2=folium.Map(location=[12.9716,77.5946],zoom_start=12)
marker_cluster=MarkerCluster().add_to(map2)
for i ,row in merged_df.iterrows():
   if not pd.isna(row["Latitude"]) and not pd.isna(row["Longitude"]):
    folium.Marker(
        location=[row["Latitude"],row["Longitude"]],
        popup=f"{row["listed_incity"]}<br>Rating:{row["rate"]}<br>Cost:{row["approx_costfor_two_people"]}",
    ).add_to(marker_cluster)

map2.save("Restaurant_density.html")

In [77]:
IFrame("Restaurant_density.html",width=1000,height=800)

In [295]:
# MCQ 
# 1. What is the shape of the given dataset?
df.shape

(51717, 10)

In [213]:
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [297]:
# 2. How many restaurants serve North Indian cuisine?
north=df[df["cuisines"].str.contains("North Indian",case=False,na=False)]
len(north)

21085

In [134]:
df.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [299]:
# 3. What cuisine is most commonly offered by restaurants in Bangalore?
cuisines = df['cuisines'].str.split(', ')
all = [i for sublist in cuisines for i in sublist]
counts = Counter(all)
common = counts.most_common(1)[0][0]
common

'North Indian'

In [301]:
# 4. Which locality in Bangalore has the highest average cost for dining (for two people)?
avg = df.groupby('listed_incity')['approx_costfor_two_people'].mean()
highest_avg= avg.idxmax()
highest_avg

'Church Street'

In [303]:
# 5. Which restaurant type has the top rating with over 1000 votes
over_df = df[df['votes'] > 1000]
sorted_df = over_df.sort_values(by=['rate'], ascending=False)
top= sorted_df.iloc[0]['rest_type']
top

'Casual Dining'

In [305]:
#6. How much does it cost at minimum to eat out in Bangalore?

min_cost=df["approx_costfor_two_people"].min()
print("minimum cost= ",min_cost)
print("average cost =",df["approx_costfor_two_people"].mean())

minimum cost=  40.0
average cost = 554.3916893864687

In [327]:
#7. What percentage of total online orders is received by restaurants in Banashankari?
banashankari = df[df['listed_incity'] == 'Banashankari']
banashankari_online = banashankari[banashankari['online_order'] == 1]

banashankari_online_count = len(banashankari_online)
total_banashankari_order_count = len(banashankari)
percentage = (banashankari_online_count / total_banashankari_order_count) * 100
percentage

63.26767091541136

In [336]:
# 8. Which locality has the most restaurants with over 500 votes and a rating below 3.0?
votedrate_df = df[(df['votes'] > 500) & (df['rate'] < 3.0)]
restcount= votedrate_df.groupby('listed_incity').size() 
most = restcount.idxmax()
most

'Brookefield'

In [341]:
#9. Which locality in Bangalore should Zomato target for expansion based on restaurant type diversity?

rest_type = df.groupby('listed_incity')['rest_type'].nunique()
target_locality = rest_type.idxmax()
target_locality

'BTM'

In [ ]:
# 10. What's the average cost difference between buffet and delivery restaurants?

buffet_restaurants = df[df['rest_type'] == 'Buffet']
delivery_restaurants = df[df['rest_type'] == 'Delivery']
avg_buffet_cost = buffet_restaurants['approx_costfor_two_people'].mean()
avg_delivery_cost = delivery_restaurants['approx_costfor_two_people'].mean()
cost_difference = avg_buffet_cost - avg_delivery_cost

cost_difference

In [358]:
# 11 . What is the maximum number of votes received by any restaurant with online ordering?

online= df[df['online_order'] == 1]
max_votes = online['votes'].max()
max_votes

16832

In [366]:
# 12. What is the average rating of restaurants that serve both North Indian and Chinese cuisines?

both= df[df['cuisines'].str.contains('North Indian', case=False) & df['cuisines'].str.contains('Chinese', case=False)]
avg_rating = both['rate'].mean()
print("The average rating of restaurants that serve both = ",avg_rating)

The average rating of restaurants that serve both =  3.573301737756714

In [372]:
# 13. What is the most profitable area for Zomato based on potential revenue estimation?

total = df.groupby('listed_incity')['votes'].sum()
most_profit= total.idxmax()

print("The most profitable area for Zomato =" ,most_profit)

The most profitable area for Zomato = Koramangala 7th Block

In [378]:
# 14. If Zomato wants to reduce customer complaints, which restaurant type should they focus on?

rest_type_stats = df.groupby('rest_type').agg({'rate': 'mean', 'votes': 'sum'})
sign_votes = rest_type_stats[rest_type_stats['votes'] > 1000]
to_focus = sign_votes['rate'].idxmin()
print("Zomato should focus on the = ",to_focus)

Zomato should focus on the =  Quick Bites, Food Court

In [386]:
# 15. In which area should Zomato invest by considering high rating (rate > 4.2), high number of votes (> 500) and including online orders?

df3 = df[(df['rate'] > 4.2) & (df['votes'] > 500) & (df['online_order'] == 1)]
restaurant_count =df3.groupby('listed_incity')['rest_type'].count()  
target_locality = restaurant_count.idxmax()
print("Zomato should invest in =",target_locality)

Zomato should invest in = Koramangala 7th Block